{% extends "website/layoutCzech.html" %}
{% load static %}

{% block title %}
    Hlavná stránka
{% endblock %}

{% block body %}
 <!--main banner-->
 <section class="image" id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text text-center">
                <h1 class="hero_title text-center">Agapelogos by Walter Medrano</h1>
                <p class="hero_desc">Fotograf a kameraman z Guatemaly</p>
                    <div class="icons mt-4">
                            <a href="https://www.instagram.com/agapelogos" target="_blank"> <i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/walmedrano/" target="_blank"> <i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="languageDiv">
                        <i class="fa fa-language" aria-hidden="true"></i><a class="language" href="{% url 'index' %}"><span class="language">Español </span></a>|<a class="language" href="{% url 'english' %}"><span class="language"> English</span></a>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- about section -->
<section id="about" class="about-img-cz">
    <div class="container-md mt-4 pt-0.5">
        <h1 class="text-center">O mě</h1>
        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-lg-4 imageAbout">
                <img src="{% static 'website/images/head.jpg' %}" alt="My image" class="img-thumbnail text-center">
            </div>

            <div class="col-lg-8 text-about">
                <p class="text-justify bio-text">
                    Tady Walter Medrano z Guatemaly. Posledních osm let svého života jsem zasvětil tvorbě se světlem, pohybem a zvukem.
                </p>
                <p class="text-justify bio-text">
                    Studoval jsem na John Brown University v AR, kde jsem získal titul v oboru umění se zaměřením na film (Go Eagles!). Česká Republika pro mě znamená přátele, dobré jídlo a úžasné lidi. Pokud mě chcete najít v Česku, najdete mě v Brně.

                </p>
                <p class="text-justify bio-text">
                    Moje vášeň pro film je ovlivněna "los tres amigos": Guillermo del Toro, Alejandro Iñárritu a Alfonso Cuarón. Jsem nadšený, že mohu vyprávět váš příběh!
                
            </div>
        </div>
    </div>
</section>

<!-- portfolio section -->
    <section id="portfolio">
        <div class="container-fluid mt-4">
            <h1 class="text-center portfolioHead">Portfolio</h1>
            <div class="row">
                <div class="col-lg-4 mt-4 d-flex justify-content-center">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'website/images/boda.jpg' %}" alt="servicio bodas" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Svatby a Páry</h5>
                            <p class="card-text text-justify">Svatba vyžaduje víru a důvěru. Rád bych vyprávěl váš příběh.</p>
                            <div class="text-center">
                                <a href="https://waldro45138.wixsite.com/mysite/bodas" class="btn btn-light">Podívejte se na fotografie</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mt-4 d-flex justify-content-center">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'website/images/anet.jpg' %}" alt="servicio fotos" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Různá focení</h5>
                            <p class="card-text text-justify">Fotografie je o vyprávění příběhů. Představuji vám řadu fotografických služeb od fotografování událostí až po produkty a další.</p>
                            <div class="text-center">
                                <a href="https://waldro45138.wixsite.com/mysite" class="btn btn-light">Podívejte se na fotografie</a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-4 mt-4 d-flex justify-content-center">
                    <div class="card">
                        <video src="{% static 'website/images/doori.mp4' %}" class="card-img-top" muted autoplay loop style="height:680px; width:100%;"></video>
                        <div class="card-body">
                            <h5 class="card-title">Video službas</h5>
                            <p class="card-text text-justify">Video je moje vášeň. V tomto jedinečném zážitku se vyprávění příběhů setkává s pohybem a zvukem.</p>
                            <div class="text-center">
                                <a href="https://waldro45138.wixsite.com/mysite/cine" class="btn btn-light">Podívejte se na videa.</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<!--Contact section-->
<section class="contact-imageCz" id="contact">
    <div class="container mt-0 pt-3 contact-infoCz">
        <h1 id="footer-title" class="text-center">Kontaktujte mě!</h1>
        <div class="row">
            <div class="col-sm-4 mt-3 text-center footer-text">
                <p>Whatsapp o phonecalls:</p>
                <p>(502) 4684-5879</p>
            </div>
            <div class="col-sm-4 mt-3 text-center ml-auto footer-text">
                <p>E-mail:</p>
                <p>waldro4513@gmail.com</p>
            </div>
        </div>
    </div>
</section>

<!--Footer section-->
<footer id="footer">
    <div class="container">
        <div class="icons mt-0">
                <a href="https://www.linkedin.com/in/walmedrano/" target="_blank"> <i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/agapelogos" target="_blank"> <i class="fa fa-instagram"></i></a>
                <i class="fa fa-language" aria-hidden="true"></i><a class="language" href="{% url 'index' %}"><span class="language">Español </span></a>|<a class="language" href="{% url 'english' %}"><span class="language"> English</span></a>
                <p class="rights">Agapelogos. All rights reserved.</p>
        </div>
    </div>
</footer> 
  

{% endblock %}

