{% extends "website/layout.html" %}
{% load static %}

{% block title %}
    Sitio
{% endblock %}

{% block body %}
 <!--main banner-->
 <section class="image" id="home">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text text-center">
            <h1 class="hero_title text-center">Agapelogos por Walter Medrano</h1>
            <p class="hero_desc">Soy un fotógrafo y videografo en Guatemala</p>
        </div>
        </div>
    </div>
</section>

<!-- about section -->
<section id="about">
    <div class="container-fluid mt-4 pt-4">
        <h1 class="text-center">Sobre mi</h1>
        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-lg-4 imageAbout">
                <img src="{% static 'website/images/head.jpg' %}" alt="My image" class="img-thumbnail text-center">
            </div>

            <div class="col-lg-8 text-about">
                <p class="text-justify bio-text">
                    Soy Walter Medrano, nacido en Quiché, Guatemala. He dedicado los últimos 8 años de mi vida a perfeccionar mi entendimiento por la luz,
                    el movimiento y el sonido. Por tanto, cada sesión y cada video que realizo tienen un aroma distintivo, producto de la evolución de mi arte.
                </p>
                <p class="text-justify bio-text">
                    Fui a la universidad Jhon Brown University en Arkansas, Estados Unidos, donde me gradué como licenciado en las artes liberales,
                    con énfasis en los medios digitales, y estudios en ciencias políticas y relaciones internacionales. También poseo una maestría en relaciones internacionales por la Universidad Francisco Marroquín.
                </p>
                <p class="text-justify bio-text">
                    Mi pasión se centra en el cine. He sido influenciado por los Tres Amigos (Guillermo del Toro, Alejandro González Iñárritu y Alfonso Cuarón) con su visión mágico realista.
                </p>
                <p class="text-justify bio-text">
                    Estoy emocionado de poder contar tu historia a través de la fotografía o el video.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- portfolio section -->
    <section id="portfolio">
        <div class="container-fluid mt-3">
            <h1 class="text-center">Portafolio y Servicios</h1>
            <div class="row">
                <div class="col-lg-4 mt-4 d-flex justify-content-center">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'website/images/boda.jpg' %}" alt="servicio bodas" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Bodas y parejas</h5>
                            <p class="card-text text-justify">Las bodas representan unos de los sentimientos más profundos de la vida. Quiero capturar ese momento junto a ti.</p>
                            <div class="text-center">
                                <a href="https://waldro45138.wixsite.com/mysite/bodas" class="btn btn-primary">Ver fotos</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mt-4 d-flex justify-content-center">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'website/images/indigena.jpg' %}" alt="servicio fotos" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Sesiones de fotos varias</h5>
                            <p class="card-text text-justify">Se cubren toda clase de eventos desde 15 años, cumpleaños, sesiones individuales, productos, y más. Todas nuestras sesiones tienen la garantía de ser únicas.</p>
                            <div class="text-center">
                                <a href="https://waldro45138.wixsite.com/mysite" class="btn btn-primary">Ver fotos</a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-lg-4 mt-4 d-flex justify-content-center">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'website/images/15.jpg' %}" alt="servicio fotos" style="width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">Servicio de video</h5>
                            <p class="card-text text-justify">Mi estudios en cine y fotografía son combinados en esta única experiencia de producir el video de tus eventos, ideas y proyectos.</p>
                            <div class="text-center">
                                <a href="https://waldro45138.wixsite.com/mysite/cine" class="btn btn-primary">Ver videos</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<!--Contact section-->
<section class="contact-image" id="contact">
    <div class="container mt-3 contact-info">
        <h1 id="footer-title" class="text-center">Ponte en contácto</h1>
        <div class="row">
            <div class="col-sm-4 mt-3 text-center footer-text">
                <p>Whatsapp o llamadas:</p>
                <p>(502) 4684-5879</p>
            </div>
            <div class="col-sm-4 mt-3 text-center ml-auto footer-text">
                <p>Correo:</p>
                <p>waldro4513@gmail.com</p>
            </div>
        </div>
    </div>
</section>

<!--Footer section-->
<footer id="footer">
    <div class="container">
        <div class="icons mt-4">
                <a href="https://www.facebook.com/" target="_blank"> <i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram"></i></a>
        </div>
    </div>
</footer>
  

{% endblock %}

