{% load static %}
<!DOCTYPE html>

<html lang="es">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'website/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbarScroll">
          <div class="container">
            <a class="navbar-brand" href="#">AGAPELOGOS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#principal">Página principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobremi">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portafolio">Portafolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#servicios">Servicios</a>
                    </li>
                </ul>
            </div>
          </div>  
        </nav>

        <!--main banner-->
        <section class="image" id="principal">
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
                    <h2 class="hero_title">Agapelogos por Walter Medrano</h2>
                    <p class="hero_desc">Soy un fotógrafo y videografo en Guatemala</p>
                </div>
                </div>
            </div>
        </section>

    </body>
</html>